* {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.content-text {
  color: #515a6e;
}
.title-text {
  color: #17233d;
  font-weight: bold;
}

.sub-text {
  color: #808695;
}
/* about App */
.App__page {
  box-sizing: border-box;
  background-color: white;
}

.App__header {
  width: 100%;
  background-color: white;
  padding: 1em;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  font-weight: bold;
  box-shadow: rgba(0,0,0,0.05) 0 2px 5px;
}

.page {
  box-sizing: border-box;
  padding: 16px;
}

/* Detail Card */
.DetailView__wrapper {
  padding: 8px;
  font-size: 16px;
}
.DetailView__item {
  margin: 1em auto;
}
.DetailView__title {
  font-weight: bold;
}

.DetailView__pictures {
  display: flex;
  padding: 8px;
}


