.SN__card {
  padding: 0.8em;
  background-color: white;
  border-radius: 10Px;
  box-shadow: rgba(0,0,0,0.1) 0 0 5Px;

  width: 80%;
}

.SN__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.SN__card--hover {
  box-shadow: none;
}
